tr.section_custom_field span.name {
  padding-left: 24px;
  background: url(../../../images/arrow_right.png) no-repeat 8px 50%;
}

tr.section_custom_field span {
  line-height: 20px;
}

tr.section_item_invisible {
  display: none;
}

fieldset.custom_fields_section {
  margin: 20px 10px;
  background-color: #ececec;
  break-inside: avoid;
}

@media screen and (min-width: 1200px) {
  form.edit_project .box.tabular {
    column-count: 2;
  }
}
